* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "poppins", sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

.div1 {
    width: 1100px;
    margin:auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float: left;
    color: wheat;
}

.logo a:hover {
    cursor: default;
    color: black;
    transition: all 0.4s ease-in-out;
}

.menu{
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 75px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #820000;
    border-bottom: 2px solid black;
    z-index: 1;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    padding: 0px 15px 0px 15px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    color: wheat;
    transition: all 0.8s ease-in-out;
}

a.logout{
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;
}

a.logout:hover{
    background-color: #fff;
    color: #820000;
    transition: all .4s ease-in-out;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
}

.card{
    height: 530px;
    width: 500px;
    overflow: hidden;
    background: #3C4048;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(216, 27, 27, 0.5) , 0 0 20px rgb(228, 49, 49);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 120px;
}

.profile-image img {
    z-index: 1;
    width: 180px;
    height: 180px;
    position: relative;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 100px;
    border: 4px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
    filter: grayscale();
    opacity: 0.3;
}

.profile-image img:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.card-content p{
    font-size: 16px;
    text-align: justify;
    padding: 0 20px 5px 20px;
    color: wheat;
    margin-top: 10px;
}

.icons{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.icons a{
    font-size: 25px;
    padding: 0px 20px;
    border-radius: 100px;
    color: #820000;
}
.icons a:hover{
    transform: scale(1.5);
    transition: 0.3s;
    color: wheat;
}

hr {
    border: 1px solid #820000;
}

.back{
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card-deskripsi {
    width: 1000px;
    height: 400px;
    position: relative;
    left: 5%;
    top: 10%;
    
}

.title {
    font-style: italic;
    font-weight: bold;
    color: #b33a3a;
    width: 800px;
    font-size: 45pt;
    cursor: default;
}

.title:hover, .title-1:hover{
    color: white;
    transition: all .4s ease-in-out;
}

.title-1{
    font-style: italic;
    font-weight: bold;
    cursor: default;
    color: #b33a3a;
    font-size: 60pt;
    width: 800px;
}

.deskripsi{
    cursor: default;
    color: #EDE4E0 ;
    position: relative;
    top: 20px;
    width: 660px;
    font-size: 20pt;
    text-align:justify;
}

.deskripsi p:hover{
    color: #b33a3a;
    transition: all .4s ease-in-out;
}

.gambar {
    width: 800px;
    height: 850px;
    position: relative;
    z-index: -1;
    left: 55%;
    top: -380px;
}

.container1{
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-contact{
    border-radius: 25px;
    width: 1000px;
    height: 400px;
    background-color: #cf5353;
    box-shadow: 0 20px 40px rgba(12, 10, 10, 0.4);
    position: relative;
    top: -100px;
    border-bottom: 20px solid black;
}

.contact-title,.contact-title-2{
    font-size: 30pt;
    width: 210px;
    position: relative;
    left: 15px;
    top: 20px;
    color: #000000;
}

.contact-title-2{
    position: relative;
    left: 15px;
    width: 60px;
    border-bottom: 2px solid black;
}

.icon-contact{
    position: relative;
    top: 180px;
    width: 450px;
    height: 50px;
}

.icon-contact a{
    padding-left: 28px;
    position: relative;
    top: 50px;
    left: 10px;
    color: #000000;
}

.icon-contact a:hover{
    color: white;
    transition: all .4s ease-in-out;
}

.garis-vertical{
    border-radius: 10px;
    height: 404px;
    width: 4px;
    background-color: #030305;
    position: relative;
    left: 23%;
    top: -176px;
}

.card-form{
    width: 400px;
    height: 380px;
    position: relative;
    float: right;
    top: -560px;
    right: 50px;
}

.form_username,.form_pesan{
    background-color: #ffffff;
    position: relative;
    right: 300px;
    top: 20px;
    width: 680px;
    height: 40px;
    font-size: 15pt;
    margin-bottom: 25px;
    color: #020508;
}
.form_pesan{
    height: 80px;
}

.btn-login{
    position: relative;
    margin: auto;
    right: 30px;

}

.btn{
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 175px;
    height: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12), 0px 0px 20px rgba(255, 255, 255, 0.24);
  }

.nama,.email{
    position: relative;
    right: 300px;
    display: none;
    color: rgba(0, 0, 0, 0.884);
}

.container2{
    width: 850px;
    height: 500px;
    margin: auto;
    background : linear-gradient(to bottom, rgb(209, 70, 70), rgb(185, 93, 93), rgb(214, 133, 133));
    position: relative;
    top: 10%;
    border-radius: 20px;
    border-bottom: 15px solid black;
    box-shadow: 0 0 30px black;
}

.content-part{
    position: relative;
    left: 40px;
    width: 400px;
    height: 200px;
    top: 20px;
}

.image-part{
    position: relative;
    width: 350px;
    float: right;
    right: 40px;
    height: 350px;
    top: -150px;

}

.image-part img{
    width: 400px;
}

.content-part .konten p{
    text-align: justify;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
}

.title2 {
    font-weight: bold;
    color: black;
    width: 400px;
    font-size: 20pt;
    border-bottom: 2px solid black;
}









